@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Lime: hsl(61, 70%, 52%);
  --Red: hsl(4, 69%, 50%);
  --White: hsl(0, 0%, 100%);
  --Slate-100: hsl(202, 86%, 94%);
  --Slate-300: hsl(203, 41%, 72%);
  --Slate-500: hsl(200, 26%, 54%);
  --Slate-700: hsl(200, 24%, 40%);
  --Slate-900: hsl(202, 55%, 16%);
  --font-weight-700: 700;
  --font-weight-500: 500;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background: var(--Slate-100);
  height: 100vh;
  display: grid;
  place-items: center;
}

/* container */
.container {
  display: flex;
  max-width: 80%;
}

/* left */
.left,
.right {
  flex: 1;
  padding: 2rem;
}

.left {
  background-color: var(--White);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.title {
  color: var(--Slate-900);
  font-weight: var(--font-weight-700);
  font-size: 1.2rem;
}

.clear {
  text-decoration: underline;
  color: var(--Slate-700);
  cursor: pointer;
}

.clear:hover {
  color: var(--Slate-900);
}

label[for="amount"],
label[for="rate"],
label[for="term"],
label[for="type"] {
  color: var(--Slate-700);
  font-size: 1rem;
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}

input[type="text"] {
  height: 40px;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: none;
}

.col {
  display: flex;
  gap: 20px;
}

.col .inputbox {
  flex: 1;
}

.input-field {
  display: flex;
  border: 1px solid var(--Slate-700);
  border-radius: 5px;
  margin: 10px 0px 20px;
}

.input-field:hover {
  border: 1px solid var(--Slate-900);
}

.input-field input {
  color: var(--Slate-700);
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0px 10px;
  font-size: 1rem;
  font-weight: var(--font-weight-700);
}

.input-field .inputbtn {
  background-color: var(--Slate-100);
  color: var(--Slate-700);
  padding: 12px 12px;
  font-weight: var(--font-weight-700);
  border-radius: 5px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.radio-option {
  border-radius: 5px;
  border: 1px solid var(--Slate-700);
  padding: 10px;
  display: flex;
  align-items: center;
}

input[type="radio"] {
  margin-right: 1rem;
  appearance: none;
  width: 0.5rem;
  height: 0.5rem;
  outline: 2px solid var(--Lime);
  outline-offset: 3px;
  border-radius: 50%;
}

input[type="radio"]:checked {
  background-color: var(--Lime);
}

.radio-option label {
  font-weight: var(--font-weight-700);
  color: var(--Slate-900);
}

button {
  border: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  background: var(--Lime);
  color: var(--Slate-900);
  font-weight: var(--font-weight-700);
  margin-top: 30px;
  padding: 15px 40px;
  border-radius: 35px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  opacity: 0.8;
}

/* right */
.right {
  background-color: var(--Slate-900);
  display: flex;
  color: var(--White);
  border-top-right-radius: 15px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 15px;
}

/*  right empty state */
.right .empty {
  display: none;
  text-align: center;
  align-self: center;
}

.right h2 {
  margin-bottom: 15px;
}

.right p {
  color: var(--Slate-300);
}

/* right success state */
.completed #results {
  margin-top: 30px;
  background-color: hsl(202, 55%, 12%);
  padding: 2rem;
  border-radius: 5px;
  border-top: 3px solid var(--Lime);
}

.completed #results label {
  display: block;
  font-size: 15px;
  margin: 10px 0;
  color: var(--Slate-300);
}

.completed #results hr {
  height: 1px;
  border: none;
  margin: 20px 0;
  background-color: var(--Slate-700);
}

#monthlyrepay {
  font-size: 3rem;
  font-weight: var(--font-weight-700);
  color: var(--Lime);
}

#termrepay {
  font-size: 18px;
  font-weight: var(--font-weight-700);
}

/* media queries */
/* @media (max-width: 500px) {
  .container {
    flex-direction: column;
  }
} */
